.navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }

  .navbar-brand {
    font-weight: bold;
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin-left: 15px;
  }

  .nav-link.active {
    color: #007bff;
  }